@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    transform: translate(73%, 10%);
    width: 40%;

    
}

ul li {                                 /* List item styling */
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    border-bottom: 1px solid grey;
    display: flex;
    background-color: var(--color-list);
    color: var(--font-color);
    padding: 25px 25px;

}

input[type=text] {                     /* Styling of input */
    width: 40%;
    box-sizing: border-box;
    padding: 25px 25px;
    background-color: var(--color-list);
}

ul li.checked {                         /* When clicked on, strikethrough text */
    text-decoration: line-through;
}

ul li.checked::before {                 /* Tick */
    content: '';
    position: absolute;
}


.close {                                /* Cross button styling */
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;

}

.close:hover {
    color: white;
}

.header {
    border: 1px solid transparent;
    display: flex;
    justify-content: center;

}

footer {
    color: var(--footer-color);
    border: 1px solid black;

}

.todo-toggle {                          /* Style "To Do" text and toggle */
   display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 220px;
    margin-right: 250px;
}

body {
    background-color: var(--color-background);
    background-image: var(--image-background);
    background-repeat: no-repeat;
    background-size: 100% 50%;
}





/*-------------- Toggle start ------------ */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ------------- Toggle end -------------------- */


/* -------------Theme start ---------------------*/

.theme-light {
    --color-background: hsl(0, 0%, 98%);
    --color-list: hsl(236, 33%, 92%);
    --font-color: hsl(235, 19%, 35%);
    --image-background: url("images/bg-desktop-light.jpg");
    --footer-color: hsl(236, 9%, 61%);
}
.theme-dark {
    --color-background: hsl(235, 21%, 11%);
    --color-list: hsl(235, 24%, 19%);
    --font-color: hsl(234, 39%, 85%);
    --image-background: url("images/bg-desktop-dark.jpg");
    --footer-color: hsl(234, 39%, 85%);
}

/* ---------------- Theme end --------------------*/